<!DOCTYPE HTML>

<html>

<head>

    <meta charset="UTF-8"/>

    <title>${title}</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<body>

<h1>${title}</h1>

<a href="/notes">Notes</a>

<br/><br/>

<div>Copyright © dariawan.com</div>

</body>

</html>
